<!DOCTYPE html>
<html>
  <head>
    <title>ElasticDemoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <%= link_to image_tag("anynines.svg", alt: "anynines logo", height: '60'), "/", class: "navbar-brand" %>
      </div>
    </div>

    <div class="container content">
      <div class="row">
        <div class="col-lg-9">
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->

    <div class="footer">
      <div class="container">
        <span>&copy; <%= Time.now.year %> <%= link_to "anynines enterprise", "https://enterprise.anynines.com" %></span>
      </div>
    </div>
  </body>
</html>
